@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/montserratAlternates-medium.ttf")
      format("truetype");
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html {
  scrollbar-gutter: stable both-edges;
}
